<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit.Wpf" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.0.0" newVersion="0.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XCad" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.CadPlusPlus" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.0.0" newVersion="0.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>