@using RazorLight
@inherits TemplatePage<Xarial.Docify.Base.Context.IContextModel>
@{ 
    var logo = Model.Site.MainPage.Data.GetOrDefault<string>("image");
    if (!string.IsNullOrEmpty(logo) && !logo.StartsWith("/"))
    {
        logo = "/" + logo;
    }
    
    var description = Model.Site.MainPage.Data.GetOrDefault<string>("description");
    var title = Model.Site.MainPage.Data.GetOrDefault<string>("title");
}

<div class="header">
    <div class="header-icon">
        @if (!string.IsNullOrEmpty(logo))
        {
            <a href="/"><img src="@logo" width="75px" alt="@title" /></a>
        }
    </div>
    <div class="header-description">@description</div>
</div>
<hr>
<div style="text-align: right; vertical-align: middle">
    <a href="/download/" target="_blank" class="download-button">Download</a>
</div>