<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Xarial.CadPlusPlus" version="0.2.3-20211012.2" targetFramework="net461" />
  <package id="Xarial.XCad" version="0.7.6-20211012.1" targetFramework="net461" />
  <package id="Xarial.XToolkit" version="0.3.0-20211012.7" targetFramework="net461" />
</packages>