<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Xarial.CadPlus.XBatch.Base.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Xarial.CadPlus.XBatch.Base.Properties.Settings>
      <setting name="HelpLink" serializeAs="String">
        <value>https://cadplus.xarial.com/batch/</value>
      </setting>
    </Xarial.CadPlus.XBatch.Base.Properties.Settings>
  </userSettings>
</configuration>