<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Xarial.CadPlus.XBatch.Base.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.25.0" newVersion="0.2.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XCad" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.5.0" newVersion="0.7.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit.Wpf" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.25.0" newVersion="0.2.25.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Xarial.CadPlus.XBatch.Base.Properties.Settings>
      <setting name="HelpLink" serializeAs="String">
        <value>https://cadplus.xarial.com/batch/</value>
      </setting>
    </Xarial.CadPlus.XBatch.Base.Properties.Settings>
  </userSettings>
</configuration>