<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xarial.CadPlus.CustomToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xarial.CadPlus.CustomToolbar.Properties.Settings>
            <setting name="ToolbarsSpecFile" serializeAs="String">
                <value>toolbars.setts</value>
            </setting>
            <setting name="AppRootDir" serializeAs="String">
                <value>Xarial\CADPlusToolset</value>
            </setting>
            <setting name="XToolbarSettingsFile" serializeAs="String">
                <value>xtoolbar.json</value>
            </setting>
        </Xarial.CadPlus.CustomToolbar.Properties.Settings>
    </userSettings>
</configuration>