<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xarial.CadPlus.CustomToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xarial.CadPlus.CustomToolbar.Properties.Settings>
            <setting name="ToolbarsSpecFile" serializeAs="String">
                <value>toolbars.setts</value>
            </setting>
            <setting name="ToggleButtonResolverCSharp" serializeAs="String">
                <value>using Xarial.CadPlus.CustomToolbar.Base;
using Xarial.XCad;

namespace Xarial.CadPlus.CustomToolbar.Services.ToggleButton
{{
    public class {0}: IToggleButtonStateResolver
    {{
        public IXApplication Application {{ get; }}

        public {0}(IXApplication app)
        {{
            Application = app;
        }}

        public bool Resolve()
        {{
            {1}
        }}
    }}
}}</value>
            </setting>
            <setting name="ToggleButtonResolverVBNET" serializeAs="String">
                <value>Imports Xarial.CadPlus.CustomToolbar.Base
Imports Xarial.XCad

Namespace Xarial.CadPlus.CustomToolbar.Services.ToggleButton

    Public Class {0}
        Implements IToggleButtonStateResolver

        Public ReadOnly Property Application As IXApplication Implements IToggleButtonStateResolver.Application

        Public Sub New(ByVal app As IXApplication)
            Application = app
        End Sub

        Public Function Resolve() As Boolean Implements IToggleButtonStateResolver.Resolve
            {1}
        End Function
    End Class
End Namespace</value>
            </setting>
        </Xarial.CadPlus.CustomToolbar.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.18.0" newVersion="0.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XCad" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.0.0" newVersion="0.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit.Wpf" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.18.0" newVersion="0.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>