<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xarial.CadPlus.CustomToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xarial.CadPlus.CustomToolbar.Properties.Settings>
            <setting name="ToolbarsSpecFile" serializeAs="String">
                <value>toolbars.setts</value>
            </setting>
            <setting name="AppRootDir" serializeAs="String">
                <value>Xarial\CADPlusToolset</value>
            </setting>
            <setting name="XToolbarSettingsFile" serializeAs="String">
                <value>xtoolbar.json</value>
            </setting>
            <setting name="ToggleButtonResolverCSharp" serializeAs="String">
                <value>namespace Xarial.CadPlus.CustomToolbar.Services.ToggleButton
{
    public class {0}: IToggleBuggonStateResolver
    {
        public IXApplication Application { get; }

        public {0}(IXApplication app)
        {
            Application = app;
        }

        public bool Resolve()
        {
            {1}
        }
    }
}</value>
            </setting>
            <setting name="ToggleButtonResolverVBNET" serializeAs="String">
                <value>Imports Xarial.CadPlus.ExtensionModule
Imports Xarial.XCad

Namespace Xarial.CadPlus.CustomToolbar.Services.ToggleButton

    Public Class {0}
        Implements IToggleBuggonStateResolver

        Public ReadOnly Property Application As IXApplication Implements IToggleBuggonStateResolver.Application

        Public Sub New(ByVal app As IXApplication)
            Application = app
        End Sub

        Public Function Resolve() As Boolean Implements IToggleBuggonStateResolver.Resolve
            {1}
        End Function
    End Class
End Namespace</value>
            </setting>
        </Xarial.CadPlus.CustomToolbar.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XToolkit" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.2.0" newVersion="0.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>