<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="Xarial.XCad" version="0.6.0-20200730.4" targetFramework="net461" />
  <package id="Xarial.XToolkit" version="0.2.1" targetFramework="net461" />
  <package id="Xarial.XToolkit.Wpf" version="0.2.4" targetFramework="net461" />
  <packageSources>
    <add key="xCAD" value="https://pkgs.dev.azure.com/xarial/xcad/_packaging/xcad-preview/nuget/v3/index.json" />
  </packageSources>
</packages>