<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpCC5600A0E0013FC2479752FF2E317D0E" Guid="*">
                <File Id="filA37EA31C1F18E8079A0153A07EC2C1F2" KeyPath="yes" Source="$(var.SourceOutDir)\CommandLine.dll" />
            </Component>
            <Component Id="cmp01717950957F7944BD3CB4B4BD99A14E" Guid="*">
                <File Id="fil07142CC9C172097D9774CE03EAE54D46" KeyPath="yes" Source="$(var.SourceOutDir)\eDrawings.Interop.EModelViewControl.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.SourceOutDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp968E6701DCBC68610EBB1F9D89291DD0" Guid="*">
                <File Id="fil73BCA1EF0594E8C88F1F62A559B066AF" KeyPath="yes" Source="$(var.SourceOutDir)\SwEDrawingsHost.dll" />
            </Component>
            <Component Id="cmpA57D036B0C39DD5A02A85B352D4A6900" Guid="*">
                <File Id="filFC811B709AABD9C110083288A21D0614" KeyPath="yes" Source="$(var.SourceOutDir)\Xarial.XToolkit.dll" />
            </Component>
            <Component Id="cmp5978C9160A39C99DB8040C5EA45C4891" Guid="*">
                <File Id="fil0924E1854D958D5CFDC77F89692FEF7A" KeyPath="yes" Source="$(var.SourceOutDir)\Xarial.XToolkit.Wpf.dll" />
            </Component>
            <Component Id="cmp885FEB504E1B89D60A1FE9D0A6E52699" Guid="*">
                <File Id="fil63CF5C1E350D1D1C6D05CD323307CF3A" KeyPath="yes" Source="$(var.SourceOutDir)\xport.exe.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="FilesRegGroup">
            <ComponentRef Id="cmpCC5600A0E0013FC2479752FF2E317D0E" />
            <ComponentRef Id="cmp01717950957F7944BD3CB4B4BD99A14E" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp968E6701DCBC68610EBB1F9D89291DD0" />
            <ComponentRef Id="cmpA57D036B0C39DD5A02A85B352D4A6900" />
            <ComponentRef Id="cmp5978C9160A39C99DB8040C5EA45C4891" />
            <ComponentRef Id="cmp885FEB504E1B89D60A1FE9D0A6E52699" />
        </ComponentGroup>
    </Fragment>
</Wix>