<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="CAD+ Toolset$(var.PackageNameSuffix)" Language="1033" Version="$(var.PackageVersion)" Manufacturer="Xarial Pty Limited" UpgradeCode="{1B7A19E1-B6B6-42D0-8DC6-0993E6E5468C}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of CAD+ Toolset is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Property Id="ARPHELPLINK" Value="https://cadplus.xarial.com" />
    
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_Common" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Icon Id="MainIconId" SourceFile="Resources\icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="MainIconId" />
		<WixVariable Id="WixUIBannerBmp" Value="Resources\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Resources\dialog.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="Resources\eula.rtf" />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="FilesRegGroup" />
      <ComponentGroupRef Id="MainFilesRegGroup" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="XarialDirId" Name="Xarial">
          <Directory Id="INSTALLFOLDER" Name="CAD+ Toolset" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="CAD+ Toolset"/>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{A92D2CF0-5C1F-43E4-AC7C-F8FCD1DF1844}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="xPort" Description="Batch Export Utility"
            Target="[#xport.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Xarial\CAD+ Toolset" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
	</Product>
</Wix>