<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SwAddInComRegGroup">
            <Component Id="cmpC2DC39E8DBB2B1043CE4B5EABF5EE2AB" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}" Context="InprocServer32" Description="Xarial.CadPlus.AddIn.Sw.CadPlusSwAddIn" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Xarial.CadPlus.AddIn.Sw.CadPlusSwAddIn" Description="Xarial.CadPlus.AddIn.Sw.CadPlusSwAddIn" />
                </Class>
                <File Id="fil12002A086FF130140FBA897BA8FEBDE2" KeyPath="yes" Source="$(var.SourceOutDir)\Xarial.CadPlus.AddIn.Sw.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32\0.3.0.0" Name="Class" Value="Xarial.CadPlus.AddIn.Sw.CadPlusSwAddIn" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32\0.3.0.0" Name="Assembly" Value="Xarial.CadPlus.AddIn.Sw, Version=0.3.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32\0.3.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32\0.3.0.0" Name="CodeBase" Value="file:///[#fil12002A086FF130140FBA897BA8FEBDE2]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32" Name="Class" Value="Xarial.CadPlus.AddIn.Sw.CadPlusSwAddIn" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32" Name="Assembly" Value="Xarial.CadPlus.AddIn.Sw, Version=0.3.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC45BDF0-66CB-4B08-8127-06C1F0C9452F}\InprocServer32" Name="CodeBase" Value="file:///[#fil12002A086FF130140FBA897BA8FEBDE2]" Type="string" Action="write" />
                <RegistryValue Root="HKCU" Key="Software\SolidWorks\AddInsStartup\{ac45bdf0-66cb-4b08-8127-06c1f0c9452f}" Value="1" Type="integer" Action="write" />
                <RegistryValue Root="HKLM" Key="Software\SolidWorks\Addins\{ac45bdf0-66cb-4b08-8127-06c1f0c9452f}" Value="0" Type="integer" Action="write" />
                <RegistryValue Root="HKLM" Key="Software\SolidWorks\Addins\{ac45bdf0-66cb-4b08-8127-06c1f0c9452f}" Name="Description" Value="The toolset of utilities to complement SOLIDWORKS functionality" Type="string" Action="write" />
                <RegistryValue Root="HKLM" Key="Software\SolidWorks\Addins\{ac45bdf0-66cb-4b08-8127-06c1f0c9452f}" Name="Title" Value="CAD+ Toolset" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>